<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Hapiness Predictor</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this page-->
  <link href="{{ url_for('static',filename='css/predictor.css') }}" rel="stylesheet" type="text/css">

</head>

<body id="page-top">
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//d3js.org/topojson.v1.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="index.html">Analysis of World Happiness Score</a>
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Overview</span>
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="charts.html">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Happiness Predictor</span></a>
      </li>
    </ul>

    <div id="content-wrapper">

      <div class="container-fluid">
        
        <div id="country_option" class="breadcrumb dropdown-for-country">
          Select Country : <br>
          <select id = "country_dropdown"></select>
        </div>

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            Dashboard
          </li>
          <li class="breadcrumb-item active">Happiness Predictor By Linear Regression Model</li>
        </ol>


        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Happiness Score Predictor
          <h6> Slide the values up/down on the scatter plot to see how the predicted rank changes.</h6></div>
          <div class="card-body" >
            <div id="myAreaChart" width="100%" height="30" class="happinessScorePredictor">
                <span id="myScore" width="100%" height="30" class="happinessScoreDisplay"> Predicted Rank:
                  <br> <br>
                  <span class = "totalRank"><span id="currentRank">--</span>/145 </span>
                </span>
            </div>
          </div>
          <div class="card-footer small text-muted"></div>
        </div>

        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Feature Trend <h6> Select one feature line on either of the plot to analyze its trend.</h6></div>
          <div class="card-body">
            <div id="myAreaChart" width="100%" height="30" class = "featureTrend"></div>
            <div id="featureLegend" width="100%" height="30"> </div>
          </div>
          <div class="card-footer small text-muted"> <b>Plot on left: Variation of standardized value of coefficients for the country selectedfrom dropdown above.<br>
          Plot on right: Variation of standardized value of coefficients for different countries. The countries are shown in the increasing order of happiness from left to right. Each country is chosen from groups of 10 arranged in order of happiness scores.</b>
          </div>
        </div>

      </div>
      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>
  
  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"></script>


  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin.min.js"></script>

  <!-- Demo scripts for this page-->
  <script src="{{ url_for('static',filename='js/demo/predictor.js') }}"></script>

</body>

</html>
