<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Happiness Predictor</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static',filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">

  <!-- Page level plugin CSS-->
  <link href="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='css/sb-admin.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for world-map-->
  <link href="{{ url_for('static',filename='css/map.css') }}" rel="stylesheet" type="text/css">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static',filename='css/overview.css') }}" rel="stylesheet" type="text/css">

  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/parcoords/0.7.0/d3.parcoords.min.css">

</head>

<body id="page-top">

  <!-- D3.js scripts -->
  <script src="//d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script src="//d3js.org/topojson.v1.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"> </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/parcoords/0.7.0/d3.parcoords.min.js"></script>

  <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

    <a class="navbar-brand mr-1" href="index.html">Analysis of World Happiness Score</a>

 
  </nav>

  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="sidebar navbar-nav toggled">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Overview</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('happinessScheduler') }}">
          <i class="fas fa-fw fa-chart-area"></i>
          <span>Happiness Predictor</span></a>
      </li>
    </ul>

    <div id="content-wrapper" class="parallax">

      <div class="container-fluid">

        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            Dashboard
          </li>
          <li class="breadcrumb-item active">Overview</li>
        </ol>


        <!-- Area Chart Example-->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            Happiness Scores
            <div id="model_option" class="dropdown-for-model">
                Select Source of Happiness Score :
                <select id = "model_dropdown">
                  <option value = "wb_score">World Bank</option>
                  <option value = "am_score">Additive Model</option>
                  <option value = 'lm_score'>Linear Regression Model</option>
                </select>
            </div>
          </div>

          <div class="parent">
            <div class="child" style="width: 5%; background-color: #9F9C9C">
             <p> No data<p>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #4A0202">
              <p style = "color:white"> Least Happy</p>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #7b0404">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #ad0505">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #dd0808">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #cc5200">
              <br>
            </div>


            <div class="child" style="width: 5%; position: relative;background-color: #FF6600">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #FF944D">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #FFFF1A">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #E6E600">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #8CFF66">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #39E600">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #269900">
              <br>
            </div>
            <div class="child" style="width: 5%; position: relative;background-color: #1a6600">
              <p style = "color:white"> Most Happy </p>
            </div>
          </div>
          <div class="card-body">
            <canvas id="myAreaChart" width="100%" height="30"></canvas>
          </div>
          <div class="card-footer small text-muted">On changing the model from dropdown, we can see the happiness rank is much of the linear regression model is much similar to the one given by World Bank. This shows that we can use linear regression model for further analysis.<br> Additive model was theinitial approach taken,although it doesn't geneate ranking much similar to that of World bank data.</div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            How did we get above rankings?
          </div>
           <div class="card-body" style="font-family:Comic Sans MS">
            <h5> World Bank Ranking: </h5> 
            <p> World Bank calculates the ranking based on the values of explained variance by GDP, Health Life Expectancy, Social Support, Freedom to MakeLife Choices, Generosity, Corruption and Dystopia + Residual.
             <br> GDP and Health Life Expectancy are based on the data extracted from the World Health Organization’s (WHO) Global Health Observatory data repository. Social support, Freedom to make life choices and Generosity are based on the binary responses to Gallup World Poll questions: “If you were in trouble, do you have relatives or friends you can count on to help you whenever you need them, or not?”,  “Are you satisfied or dissatisfied with your freedom to choose what you do with your life?”, “Have you donated money to a charity in the past month?” respectively. Corruption scores are based on the binary responses to following questions: “Is corruption widespread throughout the government or not” and “Is corruption widespread within businesses or not?”. The last factor is Dystopia + residual Dystopia is the happiness score for least happy country and residual reflects the extent to which the six variables either over- or under-explain average previous years evaluations.</p>
             <h5> Additive Model Ranking: </h5> 
            <p> Extracted 30+ features from World Bank Development Indicators database and WHO Global Health Observatory data repository. Generated a score by summing up the standardized values of these score and used these score to rank all the countries.</p>
            <h5> Linear Regression Model Ranking: </h5> 
            <p> Used the same features as additive model. Trained a linear model on the data for years 2012,2014 and 2015. Used this trained model to predict the happiness scores for 2016 data and ranked the countries based on the score predicted by model. Ranks generated by this model appared to be more similar to world bank than the ones generated by additive model. This can be obseved visually in next plot.<br>
            Statistical robustness of linear regression model - <br>
            <i>
            <table style="width:100%">     
              <tr>
                <td>Model:</td>
                <td>OLS</td>
                <td>R-squared:</td>
                <td>0.999</td>
              </tr>
              <tr>
                <td>Method:</td>
                <td>Least Squares</td>
                <td>Adj. R-squared:</td>
                <td>0.999</td>
              </tr>
              <tr>
                <td>No. Observations:</td>
                <td>435</td>
                <td>F-statistic:</td>
                <td>1.171e+04</td>
              </tr>
              <tr>
                <td>Df Model:</td>
                <td>37</td>
                <td>Prob (F-statistic):</td>
                <td>0.00</td>
              </tr>
              <tr>
                <td>Covariance Type:</td>
                <td>nonrobust</td>
                <td>Log-Likelihood:</td>
                <td>166.48</td>
              </tr>
            </table>
          </i>
          </p>

            </div>
          <div class="card-footer small text-muted">Footer</div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            <span style="font-weight:bold">How good is our model?</span>
            </div>
           <div class="card-body">
             <div id="correlationPlots" width="100%" height="30"> </div>
             <div id="correlationLegend" width="100%" height="30"> </div>
            </div>
          <div class="card-footer  small text-muted">Correlation of World Bank Rank vs Additive Model Rank = 0.74 <br>Correlation of World Bank Rank vs Linear Regression Model Rank = 0.87<br> Mostly, European countries get a better rank both by Linear Regression model and World Bank whereas mostly Sub Saharan African countries are low ranked. Although, the correlation score suggest that prediction by linear regression model is at par to world bank's but countries like Thailand, Guatemala, etc get better ranked by World than my model and countries like Bulgaria, Portugal, Albania, etc get better ranked by my model than World Bank.</div>
        </div>

        <!-- DataTables Example -->
        <div class="card mb-3">
          <div class="card-header">
            <i class="fas fa-chart-area"></i>
            What contribution each feature has on happiness Rank?
          </div>
           <div class="card-body">
            <div id="coefficientPlot" width="100%" height="30"> </div>
            </div>
          <div class="card-footer small text-muted">The above plot clearly demonstrates that features like Current Health Expenditure(% of GDP), Access to Electricty(%) contributes positively to happiness score, features like Rural Population(% of total) and Unemployment contributes negatively to happiness score and fetures like mineral depletion and fisheries product don't have much impact on happiness score.</div>
        </div>

      <!-- /.container-fluid -->

      <!-- Sticky Footer -->
      <footer class="sticky-footer">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright © 2019</span>
          </div>
        </div>
      </footer>

    </div>
    <!-- /.content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>

  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>

  <!-- Page level plugin JavaScript-->
  <script src="{{ url_for('static',filename='vendor/chart.js/Chart.min.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/datatables/jquery.dataTables.js') }}"></script>
  <script src="{{ url_for('static',filename='vendor/datatables/dataTables.bootstrap4.js') }}"></script>

  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static',filename='js/sb-admin.min.js') }}"></script>

  -->
  <script src="{{ url_for('static',filename='js/demo/map.js') }}"></script>
  <script src="{{ url_for('static',filename='js/demo/overview.js') }}"></script>
</body>

</html>
